.cont {
  display: flex;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.13);
  outline: none;
  text-decoration: none;

  > div {
    width: 100%;
  }

  &[data-flex-direction='row'] {
    .thumbnail {
      height: 100%;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .thumbnail {
        height: 168px;
      }

      .innerCont {
        height: calc(100% - 168px);
      }
    }
  }

  &[data-flex-direction='column'] {
    flex-direction: column;

    .thumbnail {
      height: 168px;
    }

    .innerCont {
      height: calc(100% - 168px);
    }
  }
}

.thumbnail {
  width: 100%;
  background-size: cover;
}

.thumbnailLink {
  display: block;
  width: 100%;
}

.title {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  font-size: 16px;

  &:hover {
    color: #9e9e9e;
  }
}

.innerCont {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.innerTopCont {
  display: flex;
  align-items: center;
  margin: -12px -12px 0 0;
}

.category {
  margin: 0;
  color: #9E9E9E;
  font-size: 12px;
  line-height: 14px;
}

.pageTitle {
  margin: 5px 0 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000;

  &:hover {
    color: #9E9E9E;
  }
}

.excerpt {
  color: #4D4D4E;
  font-size: 14px;
  line-height: 20px;
}

.bottomCont {
  display: flex;
  justify-content: space-between;
}

.date {
  margin: 0;
  color: #4D4D4E;
  font-size: 12px;
  line-height: 16px;
}

.commentsCont {
  display: flex;
  align-items: center;
}

.commentsCount {
  margin: 0 0 0 6px;
  color: #9E9E9E;
  font-size: 12px;
}

.commentIconCont {
  display: flex;
  color: #9E9E9E;
  font-size: 14px;
}
