.pageWrapper {
  display: flex;
  align-items: flex-start;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.leftContent {
  flex-basis: 70%;
  margin-right: 20px;

  @media (max-width: 767px) {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.rightContent {
  flex-basis: 30%;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);

  @media (max-width: 767px) {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}

.filtersInnerWrapper {
  padding: 20px;
  box-sizing: border-box;

  > fieldset {
    display: flex;
    margin-bottom: 20px;
    padding-left: 8px;

    > legend {
      margin-left: -6px;
      margin-bottom: 5px;
    }
  }
}

.filterButtonsWrapper {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #CFD8DC;

  > button:first-child {
    margin-right: 10px;
  }
}
