.bannerWrapper {
  margin-bottom: 20px;
}

.flexWrapper {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.gridWrapper {
  flex-basis: 70%;
  margin-right: 20px;

  @media (max-width: 767px) {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.filtersWrapper {
  flex-basis: 30%;

  @media (max-width: 767px) {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
}
