.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -24px -20px 20px -28px;
  height: 204px;
  background: url(../../assets/img/png/news-bg.png) center center no-repeat;
  background-size: cover;
}

.pageTitle {
  margin: 0 0 10px;
  color: #FFFFFF;
  font-size: 56px;
  font-weight: bold;
  line-height: 66px;
  text-align: center;
  text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
}

.pageSubTitle {
  max-width: 80%;
  margin: 0;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
}
