.popup,
.infoBox,
.pinnedPostWrapper {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: inset 0 4px 0 0 #0336FF, 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}

.infoBox {
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;

  a {
    display: block;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
  }
}

.popup img {
  max-width: 100%;
  max-height: 50vh;
}

.popupTitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.popupContent {
  margin-bottom: 0;
  color: #4D4D4E;
  font-size: 14px;
  line-height: 20px;
}

.popupContent > *:first-child {
  text-align: center;
}

.statsWrapper {
  padding: 20px 20px 5px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: inset 0 4px 0 0 #0336FF, 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
}

.statsTitle {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.statsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.statsListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &:not(:last-child) {
    box-shadow: 0 1px 0 0 #EEEEEE;
  }
}

.statsUserWrapper,
.statsKcalWrapper {
  display: flex;
  align-items: center;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

.userName {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.kcalIconWrapper {
  color: #9E9E9E;
  font-size: 12px;
  margin-right: 8px;
}

.statsKcalAmount {
  margin: 0;
  color: #9E9E9E;
  font-size: 12px;
  line-height: 16px;
}

.pinnedPostTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pinnedPostInfo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #9E9E9E;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.pinnedPostUserAvatar {
  @extend .userAvatar;

  width: 60px;
  height: 60px;
}

.divider {
  margin: 0 4px;
}

.pinnedPostLink {
  display: block;
  text-decoration: none;
  color: #9E9E9E;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;

  &:hover {
    color: #0336FF;
  }
}

.pinnedPostContentWrapper {
  max-height: 400px;
  overflow-x: auto;
  padding-right: 20px;
}

.pinnedPostContent {
  margin: 0;
  font-size: 14px;
}

.pinnedPostActionsWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pinnedPostActionWrapper {
  display: flex;
  align-items: center;
}

.pinnedPostActionIconWrapper,
.pinnedPostActionText {
  font-size: 16px;
  color: #9E9E9E;
}

.pinnedPostActionIconWrapper {
  margin-right: 5px;
}

.pinnedPostActionText {
  margin: 0;
}
