.block {
  display: flex;
  align-items: flex-end;
  padding: 12px 20px 26px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.controlLabel > div > div:before {
  border-bottom-color: rgba(0,0,0,0.12);
}

.closeIconCont {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 12px;
  color: #9E9E9E;

  button {
    padding: 0;
  }
}

.noResultsText {
  margin-left: 16px;
}
