/*
.wrapper {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.scheduleWrapper {
  flex-basis: %;
  margin-right: 20px;

  @media (max-width: 767px) {
    margin-right: 0;
    margin-top: 20px;
  }
}

.filtersWrapper {
  flex-basis: 30%;
}
*/
