.cont {
  width: 310px;
  height: 100%;
  position: fixed;
  box-shadow: 1px 0 0 0 #CFD8DC;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 100;
  @media (max-width: 1024px) {
    top: 64px;
  }
}

.dimmedBackground{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.54);
  z-index: 99;
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}
