.gridCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.gridItem {
  flex-basis: 49%;

  @media (max-width: 767px) {
    flex-basis: auto;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}
